.search_bar{
    display: flex;

    form{
        display: flex;
        
        label{
            margin-right: 5px;
        }

        input{
            margin-right: 5px;
        }
        
    }

    .btn_search_bar{
        color: white;
        background-color: #35EEBF;
        padding: 1px 5px;
    }

}